.header {
    height: 60px;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header svg {
    width: 24px;
    height: 24px;
}

.header svg path {
    fill: #4a5568;
}

.header-utility {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 16px;
}