:80 {
    encode zstd gzip

    handle /health {
        reverse_proxy server:3000
    }

    handle /api/* {
        reverse_proxy server:3000
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
